<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head-tag.ejs', {title: 'R and R'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>

    <%- include('./partials/nav.ejs') %>

    <main>

        <section class="about">
            <h2>About Us</h2>
            <!-- <img src="https://i.imgur.com/gq2NvRP.jpg" class="logo"> -->
            <p>Rachels Restorations, R and R for short, is a family owned business that we formed from our own home. Taking old and outdated furniture and giving it a new spin.
            </p>
            
        </section>

        <section class="grid">
            <h2>Projects</h2>
            <ul class="project-grid">
                <% for (let project of projects) { %>
                <li>
                    <figure>
                        <img src="<%= projects.photo %>" alt="furniture">
                    </figure>
                    <figcaption>
                        <div class="project-info">
                            <h3><%= projects.title %></h3>
                            <p>status: <%= projects.status %> </p>
                        </div>
                        <a href="/projects/<%= projects._id %>" class="btn">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

</body>

</html>
