<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head-tag.ejs', {title: `Edit ${project.title} | R and R`}) %>
    <link rel="stylesheet" href="/styles/project-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="project-person">
        <h2>Edit a Project</h2>
        
    </section>

    <form method="POST" action="/projects/<%= project._id %>?_method=PUT">
        <!-- Title input -->
       <h2><%= project.title %></h2> 
        <br>
        <!-- Category input -->
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value='<%=project.category%>'min="0">
        <br>
        <!-- Status input -->
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value='<%=project.status%>'required>
        <br>
        <!-- Description input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" value='<%=project.description%>'required></textarea>
        <br> 
        <input type="submit" value="Edit Project">
    </form>

   
</body>

</html>
